{% load static%}

<section class="page-section clearfix">
    <div class="container">
        {%if messages%}
        {%for mess in messages%}
          <div class="alert alert-success">
            {{mess}}
          </div>
        {%endfor%}
      {%endif%}
      
        <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="{% static '/media/intro.jpg' %}">
            
            <div id="list_one" class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                <h2 class="section-heading mb-4"><span class="section-heading-upper">возможно вы</span><span id="podryad" class="section-heading-lower">ищете подрядчика?</span></h2>
                <p class="text-left mb-3" id="text-one">                        
                    {% for category in title_name%}     
                    {%for p in category.get_products%}
                    {{p.text_one|safe}}
                    {%endfor%}
                    {%endfor%}<br></p>
                <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" style="font-size: 1rem;" role="button" 
                    id="button">Оставить заявку!</a></div>
            </div>

        </div>
    </div>
</section>

<section id="second" class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">наши</span><span class="section-heading-lower">услуги</span></h2>
                    <p class="text-left mb-0" id="my_text">                        
                        {% for category in title_name%}     
                        {%for p in category.get_products%}
                        {{p.text_second|safe}}
                        {%endfor%}
                        {%endfor%}<br></p>
                </div>
            </div>
        </div>
    </div>
</section>

