{% extends "base.html" %}   
{% load static %}  
{% load crispy_forms_tags %}
}
<title>Главная - Mamontov</title>
{% block content %}
<h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">строительная компания</span><span class="site-heading-lower">Mamontov</span></h1>
    
    {% if request.user.is_staff %}
    {% include "loged_user.html" %}
    
            {%else%}
    {% include "annonym.html" %}
            {%endif%}

            <div class="bg-modal">
                <div class="modal-contents">
            
                    <div class="close">+</div>
                    <img  class="text-expanded" src="{% static '/media/logo.png' %}" style="max-height: 96px;">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <button name="three" type="submit" class="btn-dark">Отправить</button>
                    </form>
                </div>
            </div>
        
{% endblock content %}

